@import url('/Lora.css');

html,body{
  margin:0;
  padding:0;
  background:#f3f3f3;
  overflow-x:hidden;
}
*{
  font-family:'Lora',serif;
}
a{
  text-decoration:none;
  color:#f3f3f3;
}

.center-flex{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background:rgba(0,0,0,0.6);
  padding:15px;
}

.title{
  text-shadow:0 2px 5px rgba(0,0,0,0.2);
}
.subtitle{
  font-size:14pt;
  font-weight:100;
  text-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.underline{
  font-style:italic;
}
/* Fix this immediately */
.underlined{
  text-decoration:underline;
}

.navbar{
  background:#333333;
  padding:15px;
}
.navbar-text{
  margin:0;
  color:#f3f3f3;
  font-size:14pt;
  font-weight:100;
}

.header{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  height:50vh;
  border-bottom:15px solid #333333;
  background-color:#f3f3f3;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50%;
  color:#f3f3f3;
}

.recent{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin-top:1em;
  min-height:32vh;
}
.recent > div{
  width:80vw;
}

.card{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  width:100%;
  height:2vh;
  min-height:150px;
  background-size:cover;
  background-position:50%;
  box-shadow:0 2px 5px rgba(0,0,0,0.4);
  border-radius:3px;
  overflow:hidden;
}
.card:hover{
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.card > div{
  background:rgba(0,0,0,0.6);
  padding:15px;
  border-radius:2px;
  width:100%;
}
.card-title,.card-subtitle,.card-author{
  margin:0.3em;
  color:#f3f3f3;
  text-shadow:0 2px 5px rgba(0,0,0,0.2);
}
.card-title{
  font-size:16pt;
  margin-top:0;
}
.card-subtitle,.card-author{
  font-size:10pt;
}

.right{
  position:absolute;
  top:0;
  right:0;
  padding:15px;
}

input{
  background:transparent;
  border:none;
  border-bottom:1px solid #f3f3f3;
  color:#f3f3f3;
  outline:0;
  padding:5px;
}
button{
  background:transparent;
  border:none;
  color:#f3f3f3;
  outline:0;
  cursor:pointer;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border:1px solid #f3f3f3;
}
button:active{
  color:#aaaaaa;
  border:1px solid #aaaaaa;
}

@media all and (max-width: 400px) {
  .right{
    position:initial;
    padding:0;
  }
}

.footer{
  background:#333333;
  color:#f3f3f3;
  margin:0;
  padding:15px;
}
.footer > div > a:active{
  color:#bbbbbb;
}

@media all and (min-height:400px) {
  .bottom{
    width:100vw;
    position:fixed;
    bottom:0;
  }
}
