@import url('/Lora.css');

html,body{
  margin:0;
  padding:0;
  background:#f3f3f3;
  overflow-x:hidden;
}
*{
  font-family:'Lora',serif;
}
a{
  text-decoration:none;
  color:#f3f3f3;
}
a.tag-link{
  text-decoration:underline;
  color:#555555;
}
a.tag-link:active{
  color:#333333;
}

.underline{
  font-style:italic;
}

.underlined{
  text-decoration:underline;
}

.center{
  text-align:center;
  margin-bottom:0;
}
.light{
  font-weight:100;
  font-size:11pt;
  color:#555555;
  margin-bottom:1em;
}
.title-text,.subtitle-text{
  text-shadow:0 2px 5px rgba(0,0,0,0.2);
  margin-top:0;
}
.left{
  text-align:left;
  line-height:1.5;
}
.caption{
  font-size:9pt;
}

.center-absolute{
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:50%;
}
.center-flex{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.title{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  height:50vh;
  border-bottom:15px solid #333333;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50%;
  color:#f3f3f3;
  overflow:hidden;
}
.title > div > .center-flex{
  background:rgba(0,0,0,0.6);
  padding:15px;
}
.content{
  display:flex;
  align-items:center;
  justify-content:center;
  overflow-wrap:break-word;
  word-break:break-word;
  word-wrap:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto;
}
.content > div{
  max-width:600px;
  width:80vw;
  min-height:10vh;
}
.navbar{
  background:#333333;
  padding:15px;
}
.navbar > a{
  text-decoration:none;
}
.navbar-text{
  margin:0;
  color:#f3f3f3;
  font-size:14pt;
  font-weight:100;
}
img{
  margin:0.5em;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  border-radius:2px;
}
img.bg{
  width:200vw;
  height:200vw;
  margin:0;
}

.right{
  position:absolute;
  top:0;
  padding:15px;
  right:0px;
}

input{
  background:transparent;
  border:none;
  border-bottom:1px solid #f3f3f3;
  color:#f3f3f3;
  outline:0;
  padding:5px;
}
button{
  background:transparent;
  border:none;
  color:#f3f3f3;
  outline:0;
  cursor:pointer;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  border:1px solid #f3f3f3;
}
button:active{
  color:#aaaaaa;
  border:1px solid #aaaaaa;
}

.suggested{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  margin-top:1em;
  border-top:15px solid #333333;
}
.suggested > div{
  width:80vw;
}
.card{
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  width:100%;
  height:2vh;
  margin-bottom:5%;
  min-height:150px;
  background-size:cover;
  box-shadow:0 2px 5px rgba(0,0,0,0.4);
  border-radius:3px;
  overflow:hidden;
}
.card:hover{
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
}
.card > div{
  background:rgba(0,0,0,0.6);
  padding:15px;
  border-radius:2px;
  width:100%;
}
.card-title,.card-subtitle,.card-author{
  margin:0.3em;
  color:#f3f3f3;
  text-shadow:0 2px 5px rgba(0,0,0,0.2);
}
.card-title{
  font-size:16pt;
  margin-top:0;
}
.card-subtitle,.card-author{
  font-size:10pt;
}

@media all and (min-width: 700px) {
  .card{
    width:30%;
    float:left;
    margin:1%;
  }
}

@media all and (max-width: 400px) {
  .right{
    position:initial;
    padding:0;
  }
}

.footer{
  background:#333333;
  color:#f3f3f3;
  margin:0;
  padding:15px;
}
.footer > div > a:active{
  color:#bbbbbb;
}

.quote{
  border-left:5px solid #333333;
  font-style:italic;
  color:#555555;
  padding-left:30px;
}
.hang{
  text-indent:-28px;
  padding-left:28px;
}
